.app {
  color: #5dc8cd;
}
.app__title,
.app__subtitle {
  text-align: center;
  font-weight: 600;
}
.app__subtitle {
  color: #5fd3b3;
}
.app__title {
  margin-top: 70px;
  color: #ff7f00;
}
.app__input {
  width: 600px;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.app__footer {
  margin-top: 80px;
}
.app__span {
  color: #3ca0d0;
}
.app__h3 {
  color: #5fd3b3;
  font-weight: 600;
}
.app__input {
  background-color: lightblue;
}
